'scopeName': 'source.skript'
'fileTypes': [
  'sk'
]
'name': 'Skript'
patterns: [
  {
    include: "#numbers"
  }
  {
    include: "#keywords"
  }
  {
    include: "#strings"
  }
  {
    include: "#variables"
  }
  {
    include: "#comments"
  }
]
repository:
  strings:
    patterns: [
      {
        begin: '"'
        end: '"'
        name: "string.quoted.double.skript"
        patterns: [
          {
            match: "\\."
            name: "constant.character.escape.skript"
          }
        ]
      }
    ]
  variables:
    patterns: [
      {
        begin: '{'
        end: '}'
        name: "variable.normal.skript"
      }
      {
        begin: '{_'
        end: '}'
        name: "variable.temp.skript"
      }
      {
        begin: '%{'
        end: '}%'
        name: "variable.expr.skript"
      }
      {
        begin: '%{_'
        end: '}%'
        name: "variable.tempexpr.skript"
      }
    ]
  comments:
    patterns: [
      {
        begin: "(#)"
        beginCaptures:
          1:
            name: "punctuation.definition.comment.skript"
        end: "\\n"
        name: "comment.line.number-sign.skript"
      }
    ]
  numbers:
    patterns: [
      {
        match: "\\b[0-9]+\\b"
        name: "constant.numeric.skript"
      }
    ]
  keywords:
    patterns: [
      {
        match: "\\b(if|else|loop)\\b"
        name: "keyword.control.skript"
      }
    ]
