'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Skript'
      'submenu': [
        {
          'label': 'Code Suggestions'
          'command': 'Skript:code-suggestions'
          'type': 'checkbox'
        }
        {
          'label': 'Show Errors'
          'command': 'Skript:show-errors'
          'type': 'checkbox'
        }
        {
          'label': 'Color Types'
          'command': 'Skript:color-types'
          'type': 'checkbox'
        }
        {
          'label': 'Color Temp Variables'
          'command': 'Skript:color-temp-variables'
          'type': 'checkbox'
        }
        {
          'label': 'Color Variables'
          'command': 'Skript:color-variables'
          'type': 'checkbox'
        }
        {
          'label': 'Color Brackets'
          'command': 'Skript:color-brackets'
          'type': 'checkbox'
        }
        {
          'label': 'Color Options'
          'command': 'Skript:color-options'
          'type': 'checkbox'
        }
        {
          'label': 'Color Numbers'
          'command': 'Skript:color-numbers'
          'type': 'checkbox'
        }
      ]
    ]
  }
]
