'menu': [
  {
    'label': 'Lang-Skript: v1.9.3'
    'submenu': [
      {
        'label': 'Addon Versions (23)'
        'submenu': [
          {
            'label': 'Aliases: Coming soon'
          }
          {
            'label': 'Skript: v2.2'
          }
          {
            'label': 'skQuery: v3.21.4'
          }
          {
            'label': 'skUtilities: v0.4.0'
          }
          {
            'label': 'BioSphere: v1.0.4'
          }
          {
            'label': 'ExtrasSk: v1.5'
          }
          {
            'label': 'ExterSk: v0.0.3'
          }
          {
            'label': 'GameBuSk: v0.1.171'
          }
          {
            'label': 'LargeSk: v0.9.3'
          }
          {
            'label': 'PirateSk: v0.4.1'
          }
          {
            'label': 'MineLua: v1.0'
          }
          {
            'label': 'RandomSk: v2.7.1'
          }
          {
            'label': 'skAction: v1.2'
          }
          {
            'label': 'skDragon: v0.04.24'
          }
          {
            'label': 'sKeeland: v0.5'
          }
          {
            'label': 'skMorkaz: v0.2'
          }
          {
            'label': 'skRambled: v1.9'
          }
          {
            'label': 'skRayFall: v1.7.3'
          }
          {
            'label': 'SkriptEvolved: v0.2.1'
          }
          {
            'label': 'skRPG: v1.0.0'
          }
          {
            'label': 'skSharp: v1.3'
          }
          {
            'label': 'skStuff: v1.4.2'
          }
          {
            'label': 'MundoSK: v1.4.2'
          }
          {
            'label': 'skVoice: v1.1.0'
          }
          {
            'label': 'Umbaska: v2.0.0 (Not Fully Added)'
          }
          {
            'label': 'WildSkript: v1.8'
          }
        ]
      }
      {
        'label': 'Show Suggestions'
        'command': 'Skript:suggestions'
        'type': 'checkbox'
      }
      {
        'label': 'Show Errors'
        'command': 'Skript:errors'
        'type': 'checkbox'
      }
    ]
  }
]
